<div class="center jumbotron">

<h1>Homepage Training</h1>

<p> Hello there! This is a project for learning about Ruby On Rails</p>

<%= link_to "Join me!", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
